@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;

}

/* shared style  */

:root{
            --primary-color: #ffffff;
            --secondary-color: #1A0B2E;
            --regular-font-size: 1rem;
        }
.with_container{
    width: 90%;
    margin: 0 auto;
    border: 1px solid var(--secondary-color);
}
.flex_styles{
display: flex;
justify-content: space-between;
align-items: center;
}


/* different style  */
body{
    background-color: lightgoldenrodyellow;
    max-width: 1600px;
    margin: 0 auto;
    border: 1px solid var(--secondary-color);
    height: 500px;
}
nav{
    background:linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
}