@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;

}

/* shared style  */

:root{
            --primary-color: #ffffff;
            --secondary-color: #1A0B2E;
            --gredient_1:#F7E93F;
            --gredient_2:#FB09B4;
            --gredient_3:#9100F8;
            --regular-font-size: 1rem;
        }
.with_container{
    width: 90%;
    margin: 0 auto;
}
.flex_styles{
display: flex;
justify-content: space-between;
align-items: center;
}

.bg_liner_gradient{
    background:linear-gradient(to top right, var(--gredient_1), var(--gredient_2), var(--gredient_3));
}
.text_liner_gradient{
    background:linear-gradient(to top right, var(--gredient_1), var(--gredient_2), var(--gredient_3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list_style{
    list-style: none;
}
.btn_style{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 12px 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.hidden{
    display: none;
}


/* different style  */
body{
    background-color: lightgoldenrodyellow;
    max-width: 1600px;
    margin: 0 auto;
    border: 1px solid var(--secondary-color);
    height: 500px;
}
nav{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 30px 0;
}
nav h1{
    font-weight: 800;
}
nav li a{
    text-decoration: none;
    margin-right: 30px;
    color: var(--primary-color);
    font-weight: 500;
    
}


@media screen and (max-width:576px){
    nav{
       padding: 20px 0;
}

    #hambarg_icon{
        display: block;
        cursor: pointer;
    }
}

@media screen and (min-width:576px) and (max-width:992px){
     #hambarg_icon{
        display: block;
    }
}

@media screen and (min-width:992px){
  #navbar_li, #navbar_btn{
    display: block;
  }
    
}