@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;

}

/* shared style  */

:root{
            --primary-color: #ffffff;
            --secondary-color: #1A0B2E;
            --action-color:#00FF88;
            --gredient_1:#F7E93F;
            --gredient_2:#FB09B4;
            --gredient_3:#9100F8;
            --regular-font-size: 1rem;
            --p-text:rgba(255, 255, 255, .5)
        }
.with_container{
    width: 90%;
    margin: 0 auto;
}
.flex_styles{
display: flex;
justify-content: space-between;
align-items: center;
}
.flex_column{
    flex-direction: column;
}

.bg_liner_gradient{
    background:linear-gradient(to top right, var(--gredient_1), var(--gredient_2), var(--gredient_3));
}
.text_liner_gradient{
    background:linear-gradient(to top right, var(--gredient_1), var(--gredient_2), var(--gredient_3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list_style{
    list-style: none;
}
.btn_style{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 12px 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.hidden{
    display: none;
}

.padding_bottom{
    padding: 100px 0;
}
.title_h3{
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
}

/* different style  */
body{
    background-color: lightgoldenrodyellow;
    max-width: 1600px;
    margin: 0 auto;
    border: 1px solid var(--secondary-color);
   
}
nav{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 30px 0;
}
nav h1{
    font-weight: 800;
}
nav li a{
    text-decoration: none;
    margin-right: 30px;
    color: var(--primary-color);
    font-weight: 500;
    
}

#about_container_section{
    background-color: var(--secondary-color);
    gap: 80px;

}

#about_content {
    gap: 20px;
    /* border: 1px solid var(--secondary-color); */
}

#about_content p{
    width: 70%;
    text-align: center;
    color: var(--p-text) ;
}

#hr-border{
    width: 90%;

    background-color: var(--secondary-color);
    
}

#hr-border hr{
  border: 1px dashed rgba(255, 255, 255, .1);
    
}
#about_data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
#about_data aside h2{
    font-weight: 800;
    font-size: 48px;
    color: var(--action-color);
}
#about_data aside p{
    color: var(--p-text) ;
}


@media screen and (max-width:576px){
    nav{
       padding: 20px 0;
    }

    #hambarg_icon{
        display: block;
        cursor: pointer;
    }
    #about_content p{
    width: 90%;
    
    }
    #about_data{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    }

    .title_h3, #about_data aside h2{
    font-weight: 800;
    font-size: 30px;
    
}
}



@media screen and (min-width:576px) and (max-width:992px){
     #hambarg_icon{
        display: block;
    }
     #about_data aside h2{
    font-weight: 900;
    font-size: 40px;
    
}
}

@media screen and (min-width:992px){
  #navbar_li, #navbar_btn{
    display: block;
  }
    
}