@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

/* shared style  */

:root{
            --primary-color: #ffffff;
            --secondary-color: #1A0B2E;
            --action-color:#00FF88;
            --gredient_1:#F7E93F;
            --gredient_2:#FB09B4;
            --gredient_3:#9100F8;
            --regular-font-size: 1rem;
            --p-text:rgba(255, 255, 255, .5)
        }
.with_container{
    width: 90%;
    margin: 0 auto;
}
.flex_styles{
display: flex;
justify-content: space-between;
align-items: center;
}
.flex_column{
    flex-direction: column;
}

.bg_liner_gradient{
    background:linear-gradient(to top right, var(--gredient_1), var(--gredient_2), var(--gredient_3));
}
.text_liner_gradient{
    background:linear-gradient(to top right, var(--gredient_1), var(--gredient_2), var(--gredient_3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list_style{
    list-style: none;
}
.btn_style{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 12px 20px;
    font-weight: 600;
    color: var(--primary-color);
}
.bg_liner_gradient:hover{
     background:linear-gradient(to top right, #f7e83f70, #fb09b275, #9100f879);
}

.Subscribe{
    background-color: transparent;
    color: var(--action-color);
    border: 1px solid var(--action-color);
}

.Subscribe:hover{
     color: #00ff8894;
    border: 1px solid #00ff8894;
}

.padding_bottom{
    padding: 100px 0;
}
.title_h3{
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 40px;
}
h5{
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
    margin: 16px 0;
}

.hidden{
    display: none;
}



/* different style  */
body{
    background-color: lightgoldenrodyellow;
    max-width: 1600px;
    margin: 0 auto;
    border: 1px solid var(--secondary-color);
   
}
nav{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 30px 0;
}
nav h1, footer h1{
    font-weight: 800;
    font-size: 40px;
}
nav li a{
    text-decoration: none;
    margin-right: 30px;
    color: var(--primary-color);
    font-weight: 500;
    
}
#banner_container{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 60px;
}

#banner_container div{
    justify-content: center;
    text-align: center;
   
}

#banner_circle_bg{
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 350px;
    justify-content: center;
    position: relative;

}
#banner_circle_bg .new_btn{
    border: none;
    border-radius: 40px;
    padding: 8px 16px;
    background-color: var(--action-color);
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 30px;
}
#banner_circle_bg .new_btn:hover{
    background-color: #00ff8894;
}
#banner_container h2{
    padding-top: 40px;
    padding-bottom: 8px;
    font-size: 60px;
    font-weight: 800;
    color: var(--primary-color);
}
#banner_container p{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 24px;
    color: var(--p-text);
}

#banner_content div .banner_content_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#about_container_section{
    background-color: var(--secondary-color);
    gap: 80px;

}

#about_content {
    /* gap: 20px; */
    /* border: 1px solid var(--secondary-color); */
}

#about_content p{
    width: 70%;
    text-align: center;
    color: var(--p-text) ;
}

#hr-border{
    width: 90%;

    background-color: var(--secondary-color);
    
}

#hr-border hr{
  border: 1px dashed rgba(255, 255, 255, .1);
    
}
#about_data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
#about_data aside h2{
    font-weight: 800;
    font-size: 48px;
    color: var(--action-color);
}
#about_data aside p{
    color: var(--p-text) ;
}

#why_choose_container{
     background: rgba(35, 14, 61, 1);
     padding: 100px 0;
  
}
.card_box{
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.cart-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    padding: 40px;
    background: rgba(53, 17, 101, 0.4);
    cursor: pointer;
}
.cart-1{
    grid-row: span 2;
}
.cart-2, .cart-3, .cart-4{
    grid-column: span 2;
}

.cart-grid img{
    height: 60px;
    width: 60px;
}

.cart-grid p{
    color: var(--p-text);
}

.time_box{
    display: flex;
    align-items: center;
    padding-top: 16px;
    gap: 8px;
}
.time_box img{
    width: 20px;
    height: 20px;
}
.time_box time{
    color: var(--action-color);
}

#Featured_container{
    background-color: var(--secondary-color);
    padding: 100px 0;
}
#Featured_container .cart-video{
    background: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
    overflow: hidden;
   
}

#Featured_container .cart-video div{
    padding: 24px;
}
#Featured_container .cart-video div p{
    color: var(--p-text);
}


#host_container_section{
    padding-top: 100px;
}
#host_content{
    display: flex;
    align-items: center;
    gap: 24px;
    background: rgba(35, 14, 61, 1);
    padding: 40px;
    border-radius: 40px;
}
#host_content img{
    width: 100%;
}

#host_content p{
   color: var(--p-text);
}
#host_content ul{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 16px;
}
#host_content ul li{
    list-style: none;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
}

#host_content ul li img{
     height: 20px;
    width: 20px;

}

#footer_container{
    width: 100%;
    height: 100%;
    background: url(../assets/footer-bg.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
footer h1{
    color: var(--primary-color);
}

#footer_content{
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    gap: 30px;
}
#footer_content ul, #footer_content p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 60px;
     color: var(--p-text);
}
#footer_content ul li{
    cursor: pointer;
    list-style: none;
    
}

/* .card_box{
    position: relative;
}
.cart-grid::after, .cart-grid::before{
    content: "";
    position: absolute;
    height: calc(100%+6px);
    width: calc(100%+6px);
    top: -3px;
    background: conic-gradient(from var(--angle), #d11149, #e68aff, #ff4800, #11ebff, #edff58, #d11149);
    border-radius: inherit;
    z-index: -1;
}

.cart-grid::before{
    z-index: -2;
    filter: blur(20px);
    opacity: 0.7;
}
.cart-grid:hover::after{
    animation: glowing-border 3.5s linear infinite; 
}
@property --angle{
    syntax: "<angle>";
    initial-value: 53deg;
    inherits: false;
}
@keyframes glowing-border {
    from{
        --angle:53deg;
    }to{
        --angle:413deg;
    }
}
.cart-grid:hover::before{
    animation: blur-effect 3.5s linear infinite, glowing-border 3.5s linear infinite;
}
@keyframes blur-effect {
    from{
        filter: blur(20px);
    }to{
        filter: blur(19px);
    }
} */

@media screen and (max-width:576px){
    nav{
       padding: 20px 0;
    }

    #hambarg_icon{
        display: block;
        cursor: pointer;
    }

    #banner_circle_bg{
    height:300px;
    width: 300px;
    }
    #banner_circle_bg img{
    height: 160px;
    width: 100px;
    }
    #banner_container h2{
        font-size: 40px;
    }
    .padding_bottom, #why_choose_container,#Featured_container, #banner_container{
        padding: 40px 0;
    }
    #host_container_section {
        padding-top: 40px;
    }
    #about_container_section{
        gap: 40px;
    }
    #about_content p{
    width: 90%;
    
    }
    #about_data{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    }

    .title_h3, #about_data aside h2{
    font-weight: 800;
    font-size: 30px;
    }

    .card_box{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    }
    .cart-1{
    grid-row: span 1;
    }
    .cart-2, .cart-3, .cart-4{
    grid-column: span 1;
    }
    #host_content{
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    text-align: center;
    }
    #host_content ul{
        display: flex;
        justify-content: center;
        margin: 15px auto;
    }
}




@media screen and (min-width:576px) and (max-width:992px){
     #hambarg_icon{
        display: block;
    }
    .padding_bottom, #why_choose_container, #Featured_container{
        padding: 80px 0;
    }
    #host_container_section {
        padding-top: 80px;
    }
    #about_container_section{
        gap: 60px;
    }
     #about_data aside h2{
    font-weight: 900;
    font-size: 40px;   
    }
    .card_box{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    }
}

@media screen and (min-width:992px){
  #navbar_li, #navbar_btn{
    display: block;
  }
    
}